p {
    margin-bottom: 0 !important ;
}
/*make the cards under About Me section the same height*/
.has-same-height .card {
    height: 320px;
    overflow: hidden;
}

/*align the texts in cards under About Me section in the middle*/
.card-content h3 {
    text-align: center;
}

/*no border for the profile table*/
.table-profile td,
th {
    border: none !important;
}

/*make the texts in first column of the profile table bold*/
.table-profile td:first-of-type {
    font-weight: bold;
}


/*The media article section padding 4px to the top, bottom, right and left*/
.skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
}


/* set height for progress bar */
.skills-content .progress {
    height: 4px !important;
}


/* set positions for all section headings*/
.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
}

/*style the google map*/
#map {
    height: 380px;
    width: 100%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* portfolio*/
.card {
    height: 335px;
}

.card .card-title{
    font-weight: bold;
}

.card .card-img-div{
    height: 150px;
}
